
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

main{
    max-width: 70%;
    margin: auto;
    flex: 1;
}

@media (max-width: 768px) {
    .champion-notes{
        display:none;
    }
    .time-input{
        width:3rem;
    }
    .champion-name{
        display:none;
    }
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-selected {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.select-search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.select-items {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    z-index: 99;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.select-item {
    padding: 10px;
    cursor: pointer;
    display: block; 
}

.select-item:hover {
    background-color: #ddd;
}

.select-item-active {
    background-color: #b3d4fc;
}

.select-hide {
    display: none;
}

#clear-leaderboards {
    padding: 10px;
    margin-bottom: 5px;
}


.champion-board {
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
}

.champion-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.champion-header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.champion-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 0.3s ease;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
}

.champion-notes {
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    resize: none;
}

.time-table {
    width: 100%;
    margin-bottom: 10px;
}

.time-table th, .time-table td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
    position: relative;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}

.time-table th {
    background-color: #f4f4f4;
}

.time-input {
    height: 20%;
    margin-bottom: 10px;
}

.add-time {
    width: min-content;
    height: min-content;
    
}

.remove-champion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.remove-champion:hover {
    color: darkred;
}

.remove-timer {
    background: white;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.remove-timer:hover {
    background: black;
    color: white;
}

.splash-arts-container {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    width: auto;
    height:20vw;
}

.champion-splash {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .splash-arts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}